/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
!.env.example.php
.DS_Store
Thumbs.db
phpmyadmin/
adminer/
index.html
.vagrant/
.buildpath
.project
.settings/public/
public/
